body{
    background-color: lightgrey;
    padding: 20px; 
    text-align: center;
}

p{
    background-color: fuchsia;
    padding: 20px; /*espaço da borda ao texto, margin espaço da borda para fora*/
}

